### Dependencies

In [1]:
# Import pandas 
import pandas as pd
import numpy as np
import json  
from pandas.io.json import json_normalize
#reading csv file 
# file = 'wb_data3.csv'
df = pd.read_csv('wb_data4.csv')
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

   year    country                   indicator      value
0  1961  Argentina  Agricultural_land_(sq. km)  1378290.0
1  1961  Australia  Agricultural_land_(sq. km)  4615850.0
2  1961     Brazil  Agricultural_land_(sq. km)  1505310.0
3  1961     Canada  Agricultural_land_(sq. km)   698250.0
4  1961      China  Agricultural_land_(sq. km)  3423500.0

In [47]:
df.tail()

      year             country         indicator        value
5600  2018  Russian Federation  Urban population  107539347.0
5601  2018        Saudi Arabia  Urban population   28255384.0
5602  2018              Turkey  Urban population   61857510.0
5603  2018       United States  Urban population  269114845.0
5604  2018        South Africa  Urban population   38339668.0

In [53]:
df2 = df[["year","country","indicator","value"]]
df2.head()

   year    country                   indicator      value
0  1961  Argentina  Agricultural_land_(sq. km)  1378290.0
1  1961  Australia  Agricultural_land_(sq. km)  4615850.0
2  1961     Brazil  Agricultural_land_(sq. km)  1505310.0
3  1961     Canada  Agricultural_land_(sq. km)   698250.0
4  1961      China  Agricultural_land_(sq. km)  3423500.0

In [ ]:
#df2 = df2.to_html('indicators.html', index=False, classes=['table', 'table-striped', 'table-hover'])

In [ ]:
#f2 = df.to_json(r'C:\Users\jhenv\Documents\Final_Project\resources\DBFile.json')

### Import table raw_data