### Dependencies

In [5]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import sklearn.datasets
from sklearn.linear_model import LinearRegression

In [3]:
# Import pandas 
import pandas as pd
import numpy as np
import json  
from pandas.io.json import json_normalize
#df2 = df.to_json(r'C:\Users\jhenv\Documents\Final_Project\resources\DBFile.json')
#df2 = df2.to_html('indicators.html', index=False, classes=['table', 'table-striped', 'table-hover'])
#reading csv file 
# file = 'wb_data3.csv'
df = pd.read_csv('wb_data4.csv')
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

   year    country                   indicator      value
0  1961  Argentina  Agricultural_land_(sq. km)  1378290.0
1  1961  Australia  Agricultural_land_(sq. km)  4615850.0
2  1961     Brazil  Agricultural_land_(sq. km)  1505310.0
3  1961     Canada  Agricultural_land_(sq. km)   698250.0
4  1961      China  Agricultural_land_(sq. km)  3423500.0

In [6]:
df2 = df[["year","country","indicator","value"]]
df2.head()

   year    country                   indicator      value
0  1961  Argentina  Agricultural_land_(sq. km)  1378290.0
1  1961  Australia  Agricultural_land_(sq. km)  4615850.0
2  1961     Brazil  Agricultural_land_(sq. km)  1505310.0
3  1961     Canada  Agricultural_land_(sq. km)   698250.0
4  1961      China  Agricultural_land_(sq. km)  3423500.0

In [ ]:
df = pd.read_csv('wb_data4.csv')

### Import table raw_data