### Dependencies

In [1]:
# Import pandas 
import pandas as pd
import numpy as np
#reading csv file 
file = 'historicTemp.csv'
df = pd.read_csv(file)
df.head()
# df = pd.read_csv("policy_projections.csv")
# cols = ["Country","Sector","Name of Indicator","Definition","Unit","References"]
# df = df[df.columns[cols]]
# df.head()

   Year  No_Smoothing  Lowess(5)
0  1880         -0.16      -0.09
1  1881         -0.08      -0.12
2  1882         -0.10      -0.16
3  1883         -0.17      -0.20
4  1884         -0.28      -0.23

In [11]:
df.count()

ID                   398
Country              398
Sector               398
Name of Indicator    398
Definition           398
Unit                 398
References           398
dtype: int64

In [12]:
df = df.dropna(how='any')

In [13]:
df.count()

ID                   398
Country              398
Sector               398
Name of Indicator    398
Definition           398
Unit                 398
References           398
dtype: int64

In [14]:
df2 = df[["Country","Sector","Name of Indicator","Definition","Unit","References"]]
df2.head()

,Country,Sector,Name of Indicator,Definition,Unit,References
0,Argentina,Oil and Gas,Oil and Gas activity,Oil and Gas Production,Mtoe,Ministry of Energy and Mining of Argentina (20...
1,Argentina,Electricity,Electricity activity,Electricity demand per capita,kWh / cap,Ministry of Energy and Mining of Argentina (20...
2,Argentina,Electricity,Electricity emissions intensity,CO2 emissions per unit electricity produced,gCO2 / kWh,Climate Action Tracker (2017). Argentina. Lin...
3,Argentina,Electricity,Electricity renewable intensity,Renewables in electricity generation,% renewables,Ministry of Energy and Mining of Argentina (20...
4,Argentina,Electricity,Renewable energy generation (index),Renewable energy generation (indexed to base y...,1990 value normalised to 1,Climate Action Tracker (2017). Argentina. Lin...

### Import table raw_data

In [15]:
df3 =df2[["References"]]
df3.head()

                                          References
0  Ministry of Energy and Mining of Argentina (20...
1  Ministry of Energy and Mining of Argentina (20...
2  Climate Action Tracker (2017). Argentina.  Lin...
3  Ministry of Energy and Mining of Argentina (20...
4  Climate Action Tracker (2017). Argentina.  Lin...

Create HTML table

In [17]:
df3 = df2.to_html('policy.html', index=False, classes=['table', 'table-striped', 'table-hover'])

In [2]:
df.to_json(r'C:\Users\jhenv\Documents\Data Camp Final Project\New folder\BootCamp_FInal_Project\resources\temphist.json')